.venue__card {
    width: 100%;
    background: var(--dark-blue);
    padding: 0.5rem;

    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-gap: 0.5rem;
    transition: transform 100ms;
    &:hover{
        transform: translate(  0, -5px);
    }
    .venue__link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
    }

    .venue__image-wrapper {
        width: 100%;
        align-self: stretch;
    }

    .venue__image {
        width: auto;
        width: 100%;
        height: 100%;
        object-fit: contain;
        background: #fff;
    }

    .venue__image-wrapper--empty{
        .venue__image{
            object-fit: cover;
            opacity: 0.7
        }
    }

    .venue__card-heading {
        display: grid;
        align-items: center;
        justify-content: flex-start;
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;
    }

    .venue__name {
        margin: 0;
        font-size: 1.5rem;
    }

    .venue__venue-name {
        margin: 0;
        font-weight: 300;
        font-style: italic;
        font-size: 1.15rem;
    }

    .venue__description {
        display: none;
    }

    .blue-border{
        margin: 1rem auto;
    }

    .venue__meta-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        font-size: 0.8rem;
        grid-gap: 0 0.5em;
        grid-column: 1 / -1;

        .venue__tag {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0.25rem;
            text-align: center;
            border: 2px solid transparent;
            color: #fff;
            border-radius: var(--border-radius);
            svg {
                color: #fff;
                height: 1rem;
                margin-bottom: 0.25em;
            }
            &:nth-child(n + 6) {
                display: none;
            }
        }
    }

    &--featured {
        border-top: 20px solid var(--blue);
        border-bottom: 20px solid var(--blue);
        grid-template-columns: 1fr;
        grid-row: auto / span 2;

        &::before {
            content: "Featured";
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.25em;
            background: #ccc;
            color: #999;
            z-index: 2;
        }

        .venue__image-wrapper {
            width: 100%;
            padding-bottom: 100%;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
        }
        .venue__meta-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .venue__image {
            position: absolute;
            width: auto;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .venue__name {
            font-size: 2.5rem;
            text-align: center;
        }



        .venue__description {
            display: block;
            width: 95%;
            margin: 0 auto;
        }
    }
}
