.nav__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .nav__item {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        text-decoration: none;
        font-weight: 900;
        color: var(--black);
        transition: 300ms;


        &[aria-current]{
            border-bottom: 5px solid var(--red);
        }

        &:hover{
            background: transparentize(#eee, 0.6);
            transition: 100ms;

        }

        &.button {
            background: var(--yellow);
            color: var(--black);
            padding: 1rem 2rem;

            &[aria-current]{
                border-bottom: none;

            }

            &:hover{
                background: transparentize(#ffd700, 0.4);
            }
        }
    }
}
