@import "../../../scss/mixins";
.nav__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

    @include breakpoint(laptop) {
        flex-direction: row;
    }
    @include breakpoint(mobileonly) {
        height: 0;
        overflow: hidden;
        position: absolute;
        bottom: -15px;
        transform: translateY(100%);
        z-index: 999999999999;
        background: #fff;
        @include card(4);
        transition: 300ms;
    }
    &--open {
        display: flex;
        min-height: 20vh;
        height: auto;
    }
    .nav__item {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        text-decoration: none;
        font-weight: 900;
        color: var(--black);
        transition: 300ms;
        background: none;
        border: none;

        @include breakpoint(mobileonly) {
            width: 100%;
            height: auto;
            border-top: 1px solid #ccc;
        }

        svg {
            width: 1em;
        }

        &[aria-current] {
            border-left: 15px solid var(--red);
            padding-left: calc(1rem - 15px);

            @include breakpoint(laptop) {
                border-left: none;
                padding-left: 1rem;
                border-bottom: 15px solid var(--red);
            padding-bottom: calc(1rem - 15px);

            }
        }

        &:hover {
            background: transparentize(#eee, 0.6);
            transition: 100ms;
        }

        &.button {
            background: var(--yellow);
            color: var(--black);
            padding: 1rem 2rem;
            margin: 0;

            &[aria-current] {
                border-bottom: none;
            }

            &:hover {
                background: transparentize(#ffd700, 0.4);
            }
        }

        &--search {
            font-size: 1.5em;
        }
    }
}

#mobile-nav__toggle {
    display: none;

    @include breakpoint(mobileonly) {
        display: block;
        width: 2rem;
        margin-left: auto;
        margin-right: 1rem;
        cursor: pointer;
        transition: 300ms;
        &:hover {
            opacity: 0.3;
            transition: 100ms;
        }
    }
}

.mobile-nav__toggle--open {
    color: var(--red);
    animation: rotate 300ms;
}

.mobile-nav__bg {
    width: 100%;
    height: 0;
    background: linear-gradient(to top, var(--dark-blue), var(--blue));
    position: absolute;
    top: calc(100% + 15px);
    display: block;

    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transition: height 600ms, opacity 100ms;

    &--open {
        opacity: 0.9;
        pointer-events: all;
        height: 125vh;
    }

    @include breakpoint(laptop) {
        display: none !important;
    }
}

@keyframes rotate {
    to {
        transform: rotate(259deg);
    }
}
