header.header {
    background: #fff;
    border-top: 30px solid var(--blue);
    border-bottom: 30px solid var(--blue);
    color: #000;
    z-index: 9999;
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;

    .logo__wrapper {
        width: auto;
        color: #fff;
        text-decoration: none;
    }
    .site-title {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0.5rem 0;

        svg {
            height: 3em;
            width: 60%;
            margin: -100px 0.25em;
            transition: 300ms;
            filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
        }
        img {
            transition: 300ms;
            display: block;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
        &:hover {
            color: #fff;
            svg {
                transform: scale(1.15);
                filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
            }
            img {
                opacity: 0.7;
            }
        }
    }
}
