@import "../../scss/mixins";
.event__card {
    width: 100%;
    background: var(--dark-blue);

    padding: 0.5rem;

    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    grid-gap: 1rem 0.5rem;
    transition: transform 100ms, background 400ms;
    font-size: 1rem;
    a {
        text-decoration: none;
    }
    &:hover {
        transform: translate(0, -5px);
        background: var(--blue);
    }
    .event__link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 14;
    }

    .event__image-wrapper {
        align-self: stretch;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        margin-top: -0.6rem;
        margin-bottom: -0.5rem;
    }

    .event__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .event__card-heading {
        display: grid;
        align-items: center;
        justify-content: flex-start;
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;
        padding: 0 0.5rem;
    }

    .event__name {
        margin: 0;
        font-size: 1.2em;
        line-height: 1.2;
        word-wrap: anywhere;
        hyphens: auto;
    }
    .event__subtitle {
        margin: 0;
        font-weight: 400;
        font-size: 0.8em;
        margin-left: 1ch;
        color: #fff;
    }

    .event__venue-name {
        margin: 0;
        color: #fff;
    }

    .event__time-wrapper {
        margin: 0;
        font-size: 0.8em;
        font-weight: 400;
    }

    .event__description {
        display: none;
    }

    .event__ticket-button {
        width: 100%;
        z-index: 15;
        padding: 1rem;
        text-align: center;

        background: var(--yellow);
        color: #000;
        font-weight: 900;
        border-radius: var(--border-radius);
        text-decoration: none;
        transition: 300ms;

        &:hover {
            transition: 100ms;

            opacity: 0.6;
        }
    }

    .blue-border {
        margin: 1rem auto;
    }

    .event__meta-wrapper {
        display: none;
        grid-template-columns: repeat(4,  1fr);

        font-size: 0.6em;
        grid-gap: 0 0.5em;
        grid-column: 1 / -1;
        justify-content: flex-start;

        .event__tag {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0.25rem;
            text-align: center;
            border: 2px solid transparent;
            color: #fff;
            border-radius: var(--border-radius);
            svg {
                color: #fff;
                height: 1rem;
                margin-bottom: 0.25em;
            }
            &:nth-child(n + 6) {
                display: none;
            }

            &--blues {
                border-color: #00f;
                color: #00f;
                background: var(--darkest-blue);

                svg {
                    color: inherit;
                }
            }
            &--free {
                border-color: rgba(76, 175, 80, 1);
                background: var(--darkest-blue);

                color: rgba(76, 175, 80, 1);
                svg {
                    color: inherit;
                }
            }
            &--metal {
                border-color: #f00;
                color: #f00;
                background: var(--darkest-blue);
                svg {
                    color: inherit;
                }
            }

            &--sold-out {
                color: #fff;
                background: #f00;
                svg {
                    color: inherit;
                }
            }
        }
    }

    &--featured {
        border-top: 20px solid var(--blue);
        border-bottom: 20px solid var(--blue);
        grid-template-columns: 1fr;
        order: -1;

        &::before {
            content: "Featured";
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5em;
            background: var(--darker-blue);
            color: #fff;
            z-index: 2;
            font-size: 1rem;
        }

        .event__image-wrapper {
            width: 100%;
            padding-bottom: 70%;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
        }

        .event__image {
            position: absolute;
            width: auto;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .event__name {
            font-size: 2em;
            text-align: center;
        }

        .event__subtitle {
            font-size: 1.5em;
            text-align: center;
        }

        .event__venue-name {
            text-align: center;
            font-size: 1.5em;
            margin: 0.5rem auto;
        }

        .event__time-wrapper {
            font-size: 1em;
            text-align: center;
        }
        .event__description {
            display: block;
            font-size: 1em;
            width: 95%;
            margin: 0 auto;
        }
    }
}

.forecast__day--Today {
    .event__card {
        font-size: 1.25rem;
    }
    .event__name {
    }

    .event__image-wrapper{
        max-height: 50vh;
    }

    .event__subtitle {
        display: block;

    }

    .event__venue-name {
        display: block;

    }
    .event__time-wrapper{
        display: block;

    }
    .event__card--featured {
        border-top: 30px solid var(--blue);
        border-bottom: 30px solid var(--blue);
        font-size: 1.5rem;
    }
    .event__meta-wrapper{
        display: grid;
    }
}

* {
    min-height: 0;
    min-width: 0;
}

.genre__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &--blues {
        background: #00f;
        color: #fff;
    }
    &--metal {
        background: #000;
        border-color: #f00;
        color: #f00;
    }
    &--sold-out {
        color: #f00;
    }
}
