.event__card {
    width: 100%;
    background: #fff;
    padding: 0.5rem;

    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    position: relative;
    .event__link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
    }

    .event__name {
        margin: 0;
    }
    .event__image-wrapper{
        width:100%;
        padding-bottom:70%;
        margin:0 auto;
        overflow:hidden;
        position:relative;
    }

    .event__image {
        position:absolute;
        width:auto;
         width:100%;
         height:100%;
         object-fit: cover;
     
    }

    .event__genres{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        margin: 0 auto;
        padding: 0;
        li{
            list-style: none;
        }
    }


    &--featured {
        &::before {
            content: "Featured";
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.25em;
            background: #ccc;
            color: #999;
            z-index: 999;
        }
        .event__name {
            font-size: 2em;
        }
    }
}


 * {
    min-height: 0;
    min-width: 0;
}


.genre__tag{

    padding: 0.15rem 0.5rem;
    box-shadow: var(--box-shadow);
    border: 1px solid #cecece;
    border-radius: calc(var(--border-radius) * 2);


    &--blues{
        background: #00f;
        color: #fff;
    }
    &--metal{
        background: #000;
        border-color: #f00;
        color: #f00;
    }
}