@import "../../scss/mixins";
.artist__grid {
    max-width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    grid-gap: 2rem;
    margin: 2rem auto;

    align-items: flex-start;
    justify-content: center;

    h2 {
        grid-column: 1 / -1;
        text-align: center;
    }
    @include breakpoint(laptop){
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    max-width: 50%;

    }
}

.letter-link-list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 50%;
    margin: 0 auto;

    a.letter {
        color: #fff;
        text-decoration: none;
        border-radius: var(--border-radius);
        padding: 0.25rem;
        display: flex;
        align-items: center; justify-content: center;

        &:hover {
            background: var(--red);
        }

        svg{
            display: inline-block;
            width: 1.25em;
            margin-right: 0.25em;
        }

        &.letter--active {
            font-weight: bold;
            background: var(--blue);
            color: #fff;
        }
    }
}
