@import "../../scss/mixins";

.adsbygoogle{
    width: 100%;

    @include breakpoint(laptop) {
        grid-column: 1 / -1;
    }


    &[data-ad-status="unfilled"]{
        display: none!important;
    }
}