.footer {
    justify-content: center;
    align-content: center;
    padding: 7vw;
    margin-top: auto;
    background: url(../images/footer-bg.svg)  bottom left / contain no-repeat;
}

.notice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    flex-direction: column;
}

@media (max-width: 640px - 1px) {
    .notice-container {
        justify-content: space-around;
    }
}

.notice-container p {
    text-align: center;
    margin: 0;
    font-size: 1rem;

    &.finePrint{
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }
}
