@import "../../scss/mixins";
.venue__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    max-width: 85%;
    margin: 2rem auto;
    grid-auto-flow: dense;
    min-height: 45vh;
    height: 100%;

    @include breakpoint(laptop){
    grid-template-columns: 1fr 1fr 1fr;

    }
}

.filter-input {
    &__wrapper {
        max-width: 85%;
        margin: 0 auto;
        grid-column: 1 / -1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        svg {
            width: 2rem;
            margin-right: 1rem;
            padding: 0.25rem;
        }
    }

    width: 0%;
    padding: 0;
    font-size: 1.5rem;
    background: transparentize($color: #fff, $amount: 0.8);
    border: none;
    border-bottom: 5px solid #fff;
    transition: width 300ms;
    color: #fff;

    padding: 0.25rem 0;


    &.is-open {
        width: 100%;
        padding: 0.25rem;

        @include breakpoint(laptop){
            width: 45%;


        }
    }
}
